.table{
    margin-top: 50px;
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -20px;
}

.btn_group{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

.checked{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* text-decoration: line-through; */
}